.Administrativos {
  font-family: 'Arial', sans-serif;
  

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  .Slider {
    margin-top: 30px;
    

    h2 {
      color: #474848;
    }

    .Box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      margin-right: 5px;

      .Box2 {
        width: 90%;
        margin-bottom: 20px;

      }

      table {
        width: 100%;
        border-collapse: collapse;
        max-width: 500px;
        margin: 0 auto;

        th, td {
          padding: 10px;
          border: 1px solid #ddd;
          text-align: left;
        }

        th {
          background-color: #57595b;
          color: #fff;
        }

        img {
          max-width: 100px;
          max-height: 100px;
        }

        .pagination {
          margin-top: 10px;
          
          button {
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
            background-color: #495a6c;
            color: #fff;
            border: none;
            border-radius: 3px;
          }

          span {
            margin: 0 5px;
          }
        }
      }
  

      Button {
        margin-top: 10px;
        background-color: #495a6c;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 3px;
      }
    }
  }

  .Usuarios {
    margin-top: 20px;

    h1 {
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      max-width: 500px;
      margin: 0 auto;

      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #495a6c;
        color: #fff;
      }

      .pagination {
        margin-top: 10px;
        
        button {
          padding: 5px 10px;
          margin: 0 5px;
          cursor: pointer;
          background-color: #495a6c;
          color: #fff;
          border: none;
          border-radius: 3px;
        }

        span {
          margin: 0 5px;
        }
      }
    }

    Button {
      margin-top: 10px;
      background-color: #495a6c;
      color: #fff;
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 3px;
    }
  }
  
  // Consulta de medios para pantallas más pequeñas
  @media (max-width: 768px) {
    .Box1 {
      .Box2 {
        width: 100%;
      }
    }

    table {
      max-width: 100%;
    }
  }
}

.slider-form {
  width: 489px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  position: fixed;
}
.Administrativos .Slider .Box1 Button {
  margin-top: 10px;
  background-color: #495a6c;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .Administrativos{
  width: 245px;
}
}