.pedidos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; // Ajusta este valor según sea necesario
  }
  
  .Administrativos {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    h2 {
      color: #333;
    }
    .Usuarios {
      margin-top: 20px;
  
      h1 {
        color: #333;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
  
        th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }
  
        th {
          background-color: #f2f2f2;
        }
  
        tr:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
  
  
  
  
